<main class="dashboard">
  <section class="folder__section">
    <span class="folder folder__icon material-icons">folder</span>
    <nav class="folder__nav">
      <a href="#" id="all" class="folder folder--active">All</a>
    </nav>
    <button class="folder__button">+</button>
  </section>
  <section class="notes__wrapper">
    <div class="note">
      <h3 class="note__title">The Yellow Way</h3>
      <p class="note__date">07/01/2026</p>
      <button class="note__edit"><span class="material-icons">edit</span></button>
    </div>
  </section>
</main>
