<header class="header">
  <div class="header__container">
    <h1 class="header__title">NotEd</h1>
    <h2 class="header__subtitle">Secure note-taking</h2>
  </div>

  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a href="#home" class="nav__link nav__link--active">Home</a>
      </li>
      <li class="nav__item">
        <a href="#features" class="nav__link">Features</a>
      </li>
      <li class="nav__item">
        <a href="#download" class="nav__link">Download</a>
      </li>
      <li class="nav__item">
        <a href="#about" class="nav__link">About</a>
      </li>
      <li class="nav__item">
        <a href="/login" class="nav__link signin">Sign In</a>
      </li>
    </ul>
  </nav>

  <button class="header__menu-toggle" aria-label="Toggle menu">
    <span class="header__menu-icon material-icons">menu</span>
  </button>
</header>
