<header class="bg-yellow-200 flex p-2 justify-between items-center">
  <div class="flex flex-col">
    <h1 class="text-2xl font-bold">NotEd</h1>
    <h2 class="text-md font-thin">Secure note-taking</h2>
  </div>

  <nav class="hidden md:block pr-3">
    <ul class="flex gap-5">
      <li>
        <a href="#home" class="px-2 py-1 hover:bg-gray-800 hover:text-yellow-200">Home</a>
      </li>
      <li class="nav__item">
        <a href="#features" class="nav__link">Features</a>
      </li>
      <li class="nav__item">
        <a href="#download" class="nav__link">Download</a>
      </li>
      <li class="nav__item">
        <a href="#about" class="nav__link">About</a>
      </li>
      <li class="nav__item">
        <a href="/login" class="nav__link signin">Sign In</a>
      </li>
    </ul>
  </nav>

  <label class="md:hidden" aria-label="Toggle menu">
    <input type="checkbox" id="menu-toggle" class="hidden"/>
    <span class="material-icons header__menu-icon">menu</span>
  </label>
</header>

<!-- MOBILE MENU -->

<nav class="mobile-nav hidden">
    <ul class="mobile-nav__list">
      <li class="mobile-nav__item">
        <a href="#home" class="mobile-nav__link mobile-nav__link--active">Home</a>
      </li>
      <li class="mobile-nav__item">
        <a href="#features" class="mobile-nav__link">Features</a>
      </li>
      <li class="mobile-nav__item">
        <a href="#download" class="mobile-nav__link">Download</a>                                                            </li>
      <li class="mobile-nav__item">
        <a href="#about" class="mobile-nav__link">About</a>
      </li>
      <li class="mobile-nav__item">
        <a href="/login" class="mobile-nav__link">Sign In</a>
      </li>
    </ul>
</nav>
