<header class="header">
  <div class="header__container">
    <h1 class="header__title">NotEd</h1>
    <h2 class="header__subtitle">Secure note-taking</h2>
  </div>

  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a href="#home" class="nav__link nav__link--active">Home</a>
      </li>
      <li class="nav__item">
        <a href="#features" class="nav__link">Features</a>
      </li>
      <li class="nav__item">
        <a href="#download" class="nav__link">Download</a>
      </li>
      <li class="nav__item">
        <a href="#about" class="nav__link">About</a>
      </li>
      <li class="nav__item">
        <a href="/login" class="nav__link signin">Sign In</a>
      </li>
    </ul>
  </nav>

  <label class="header__menu-toggle" aria-label="Toggle menu">
    <input type="checkbox" id="menu-toggle" />
    <span class="material-icons header__menu-icon">menu</span>
  </label>
</header>

<!-- MOBILE MENU -->

<nav class="mobile-nav">
    <ul class="mobile-nav__list">
      <li class="mobile-nav__item">
        <a href="#home" class="mobile-nav__link mobile-nav__link--active">Home</a>
      </li>
      <li class="mobile-nav__item">
        <a href="#features" class="mobile-nav__link">Features</a>
      </li>
      <li class="mobile-nav__item">
        <a href="#download" class="mobile-nav__link">Download</a>                                                            </li>
      <li class="mobile-nav__item">
        <a href="#about" class="mobile-nav__link">About</a>
      </li>
      <li class="mobile-nav__item">
        <a href="/login" class="mobile-nav__link">Sign In</a>
      </li>
    </ul>
</nav>
