<div class="about__introduction container">
  <h2>What's NotEd</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum sint odit
    voluptatum repudiandae, expedita ex quisquam vitae hic laboriosam. Labore
    corporis quia consequuntur doloribus quae natus voluptatibus officia nemo
    dolores.
  </p>
</div>
