<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <title>NotEd: secure note-taking</title>
  </head>
  <body class="text-gray-800 min-h-screen flex flex-col bg-gray-50">
    <%- include("partials/header") %> <% if (!account) { %>
    <main class="flex flex-1 items-center justify-center px-4 py-10">
      <%- include("partials/features") %>
    </main>
    <% } else { %>
    <main class="flex-1"><%- include("partials/dashboard") %></main>
    <% } %> <%- include("partials/footer") %>
  </body>
</html>
