<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <title>NotEd: secure note-taking</title>
  </head>
  <body class="text-gray-800">
    <%- include("partials/header") %>

      <div class="w-10 h-10 bg-yellow-200 active:bg-red-600"></div>

      <% if (!account) { %>

      <main>
        <%- include("partials/intro") %>
      </main>

      <% } else { %>

      <%- include("partials/dashboard") %>

      <% } %>

    <%- include("partials/footer") %>
  </body>
</html>
