<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <header>
        <h1>NotEd</h1>
        <h2>Secure note-taking</h2>
    </header>

    <main>
	<form method="POST" action="/">
	    <input type="text" name="user" placeholder="Your username..." id="name-input" required />
	    <input type="password" name="password" placeholder="Your password..." id="password-input" required />
	    <input type="submit" id="submit-input" />
	</form>
    </main>

    <footer>
        <p>© 2026 Edgar Ayuso Martínez</p>
    </footer>

</body>
</html>
