<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style/style.css" />
    <title>NotEd - Register</title>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <main class="container centered-container">
      <form method="POST" action="/signup" class="form">
	<h2 class="centered-container__title">Create an account</h2>
	<label for="name-input">Username:</label>
        <input
          class="form__input"
          type="text"
          name="user"
          placeholder="John Doe..."
          id="name-input"
          required
        />
	<label for="password-input">Password:</label>
        <input
          class="form__input"
          type="password"
          name="password"
          placeholder="12345..."
          id="password-input"
          required
        />
	<label class="terms-label">
	    <input type="checkbox" id="terms-input" required />
	    <div class="switcher"></div>
	    I agree to the terms and conditions
	</label>
        <input class="form__button" type="submit" id="submit-input" value="Send" />
      </form>
    </main>

    <%- include("partials/footer.ejs") %>
  </body>
</html>
